.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black; 
  color: white;
}

.App-logo {
  position: absolute;
  top: 10%;
  pointer-events: none;
  animation: brightDarkAnimation 10s infinite; /* Apply the animation */
}

@keyframes brightDarkAnimation {
  0% {
    filter: brightness(3) invert(0); /* Bright */
  }
  25% {
    filter: brightness(0.5) invert(1); /* Dark */
  }
  50% {
    filter: brightness(3) invert(0); /* Bright */
  }
  75% {
    filter: brightness(0.5) invert(1); /* Bright */
  }
  100% {
    filter: brightness(3) invert(0); /* Bright */
  }
}

/* App container */
.App {
  display: flex; /* Use flexbox to align items */
  flex-direction: column; /* Column layout */
  align-items: center; /* Center align items horizontally */
  background-color: #121212; /* Dark background */
  color: white;
  min-height: 100vh; /* Ensure full viewport height */
  padding-bottom: 60px; /* Ensure space for fixed player */
}

/* Header styles */
.App-header {
  background-color: #1db954; /* Spotify green */
  height: 64px; /* Fixed height for header */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  width: 100%; /* Ensure header spans full width */
  position: fixed; /* Fixed position */
  top: 0; /* Stick to top */
  z-index: 1000; /* Ensure it stays on top */
}

.header-text {
  height: 48px; /* Adjust to your content */
  line-height: 48px; /* Vertically center text */
}

/* Main content container */
.MainContent {
  width: 100%; /* Full width */
  max-width: 1200px; /* Limit maximum width */
  padding: 20px; /* Padding for content */
  margin-top: 64px; /* Account for fixed header */
  display: flex;
  justify-content: center;
}

/* Styles for the podcast list */

.PodcastListContainer {
  background-color: #121212; /* Dark background */
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  width: 100%; /* Full width */
  max-width: 1200px; /* Limit maximum width */
  margin-top: 64px; /* Account for fixed header */
}

h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.PodcastList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.PodcastItem {
  background-color: #212121; /* Darker background */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  cursor: pointer;
  transition: transform 0.2s;
}

.PodcastItem:hover {
  transform: scale(1.05);
}

.PodcastItemImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.PodcastDetails {
  padding: 10px;
  text-align: center;
}

.PodcastItemTitle {
  font-size: 1.1em;
  margin: 10px 0;
}

.PodcastItemSeasons {
  font-size: 0.9em;
  color: #b3b3b3; /* Slightly lighter color for the seasons text */
}

/* Podcast detail container */
.PodcastDetailContainer {
  max-width: 800px; /* Adjust the maximum width based on your design */
  margin: 20px 0; /* Center align the container */
  padding: 20px; /* Add padding for spacing */
}

.PodcastDetailImage {
  max-width: 100%; /* Ensure the image scales properly */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add bottom margin for spacing */
}

.PodcastDetailDescription {
  margin-bottom: 20px; /* Add bottom margin for spacing */
}

.SeasonPreviewImages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.SeasonPreviewImage {
  width: 150px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}



/* Styles for the podcast player */
.Player {
  background-color: #1e1e1e; /* Dark background */
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px; /* Adjust width as needed */
  position: fixed; /* Fixed position */
  bottom: 20px; /* Distance from bottom */
  left: 20px; /* Distance from left */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Slight shadow */
  z-index: 1000; /* Ensure it stays on top */
}

.Player h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.Player audio {
  width: 100%;
  margin-top: 10px;
}

.PlayerControls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align buttons */
  gap: 10px;
  margin-top: 10px;
}

.PlayerControls button {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PlayerControls button:hover {
  background-color: #1ed760; /* Lighter green on hover */
}

.PlayerControls button:focus {
  outline: none;
}

.PlayerControls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.PlayerControls button.active {
  background-color: #1ed760; /* Active state */
}

.PlayerControls button.active:hover {
  background-color: #1db954; /* Maintain Spotify green on active state */
}

.SeasonButton {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Add margin between buttons */
  margin-bottom: 10px; /* Add margin between rows of buttons */
  display: inline-flex; /* Display buttons in a flex container */
  align-items: center; /* Center align items vertically */
}

.SeasonButton:hover {
  background-color: #1ed760; /* Lighter green on hover */
}

.SeasonButton:focus {
  outline: none;
}

.SeasonButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.SeasonButton.active {
  background-color: #1ed760; /* Active state */
}

.SeasonButton.active:hover {
  background-color: #1db954; /* Maintain Spotify green on active state */
}


.SeasonsList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.SeasonsList button {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.SeasonsList button:hover {
  background-color: #1ed760; /* Lighter green on hover */
}

.SeasonsList button:focus {
  outline: none;
}

.SeasonsList button.active {
  background-color: #1ed760; /* Active state */
}

.SeasonsList button.active:hover {
  background-color: #1db954; /* Maintain Spotify green on active state */
}

.ToggleSeasonsButton,
.CloseSeasonsButton {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.ToggleSeasonsButton:hover,
.CloseSeasonsButton:hover {
  background-color: #1ed760; /* Lighter green on hover */
}

.ToggleSeasonsButton:focus,
.CloseSeasonsButton:focus {
  outline: none;
}


.PodcastDetailContainer {
  max-width: 800px; /* Adjust the maximum width based on your design */
  margin: 0 auto; /* Center align the container */
  padding: 20px; /* Add padding for spacing */
}

.PodcastDetailImage {
  max-width: 100%; /* Ensure the image scales properly */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Add bottom margin for spacing */
}

.PodcastDetailDescription {
  margin-bottom: 20px; /* Add bottom margin for spacing */
}

.PodcastSeasons {
  /* Add styles for seasons if necessary */
}

.PodcastSeason {
  /* Add styles for each season if necessary */
}

.PodcastSeason ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.PodcastSeason li {
  margin-bottom: 10px; /* Add bottom margin for spacing between episodes */
}
